.env
.secure
.mtls_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.venv
node_modules
npm-debug.log
yarn-error.log
*.log
downloads
backups
.git
.cursor
.idea
.vscode
tests/__pycache__
testes/__pycache__
*.db-journal
*.sqlite-journal
*.db
.DS_Store
